<p class="breadcrumbs"><a href="/">Homepage</a> &raquo;
<h1>Create user</h1>

<form method="post" action="/users/register">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Register</button>
</form>